<!DOCTYPE html>
{% load template_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Base</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-static-top">
        <div class="container">
            <ul class="navbar-nav">
                <a href="{% url 'index' %}">Index Page</a>
                <a href="{% url 'first_app:other' %}">The Other Page</a>
                <a href="{% url 'admin:index' %}">Admin Page</a>
                <a href="{% url 'first_app:relative' %}">Relative Page</a>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% block body_block %}

        {% endblock %}

    </div>
    
</body>
</html>